@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color1: #1A0B2E;
}

/* shared style  */

.btn {
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 16px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to top right, #f7e633, #d30d97, #7101c2);
}


/* header st here  */
nav {
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 314px;
    height: 99px;
    border-bottom: 1px solid #574272;
}

.logo {
    padding: 30px;
    color: #FFFFFF;
}

.logo span {
    color: #9100F8;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav ul li {
    list-style: none;
    /* extra */
    padding: 20px 30px;
    border-radius: 25px;
}

nav ul li:hover {
    background-color: #57427288;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}

.hero {
    height: calc(100vh - 99px);
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-mic-img-bg {
    height: 350px;
    width: 350px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container h1 {
    font-weight: bolder;
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 40px;
}

.hero-container p {
    font-size: 16px;
    color: #ffffffbd;
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn-grp {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn2 {
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12.5px 20px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 25px;
    cursor: pointer;
}

.btn2:hover {
    border: 1px solid #00b460;
    color: #00b460;
}