@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --bg-color1:#1A0B2E;
}

/* shared style  */

.btn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 16px;
    border-radius: 25px;
    border: none;

}



nav{
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    padding: 30px;
    color: #FFFFFF;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}