@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color1: #1A0B2E;
    --bg-color2: #230E3D;
    --para-font-size: 1rem;
    --para-font-width: 1rem;
}

/* shared style  */

.btn {
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: var(--para-font-size);
    font-weight: 16px;
    border-radius: var(--para-font-width);
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    transform: translateY(15px);
    animation: downToUp .7s ease-in forwards;
}

.btn:hover {
    background: linear-gradient(to top right, #f7e633, #d30d97, #7101c2);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.514);
}


/* header st here  */
nav {
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 314px;
    height: 99px;
    border-bottom: 1px solid #574272;
}

.logo {
    padding: 30px;
    color: #FFFFFF;
    font-size: 1.5rem;
    transform: translateY(15px);
    animation: downToUp .7s ease-in forwards;
}

.logo span {
    color: #9100F8;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav ul li {
    list-style: none;
    /* extra */
    padding: 20px 30px;
    border-radius: 25px;
}

nav ul li:hover {
    background-color: #57427288;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: var(--para-font-size);
    font-weight: 600px;
}

.hero {
    height: calc(100vh - 99px);
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-mic-img-bg {
    height: 350px;
    width: 350px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new {
    background-color: #00FF88;
    color: var(--bg-color1);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 25px;
    box-shadow: 0 3px 27px #00ff8870;
    position: absolute;
    top: 12px;
    right: 23px;
}

.hero-container h1 {
    font-weight: bolder;
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 40px;
}

.hero-container p {
    font-size: var(--para-font-size);
    color: #ffffffbd;
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn-grp {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn2 {
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12.5px 20px;
    font-size: var(--para-font-size);
    font-weight: 600px;
    border-radius: 25px;
    cursor: pointer;
    transform: translateY(15px);
    animation: downToUp .7s ease-in forwards;
}

.btn2:hover {
    border: 1px solid #00b460;
    color: #00b460;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.514);
}


/* about st here  */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color1);
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container h1 {
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 1rem;
}

.about-container p {
    margin-bottom: 80px;
    font-size: var(--para-font-size);
    line-height: 20px;
    color: #ffffff91;
}

.about-container hr {
    width: 1200px;
    color: #ffffff80;
    margin-bottom: 80px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.tating-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tating-box h1 {
    color: #00b460;
    display: flex;
    align-items: center;
}

.tating-box p {
    font-size: var(--para-font-size);
    color: #ffffff8a;
}

.tating-box i {
    font-size: 2.5rem;
}


/* choose st here  */
#choose {
    background-color: var(--bg-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-header {
    margin-top: 120px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 40px;
}

.audio-quality,
.mobile-friendly,
.global-community,
.exclusive-interviews,
.rich-resources {
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #FFFFFF;
}

.audio-quality h1,
.mobile-friendly h1,
.global-community h1,
.exclusive-interviews h1,
.rich-resources h1 {
    font-size: 1.5rem;
}

.audio-quality p,
.mobile-friendly p,
.global-community p,
.exclusive-interviews p,
.rich-resources p {
    font-size: var(--para-font-size);
    line-height: 1.5rem;
    color: #ffffff93;
}

.audio-quality {
    grid-area: audio;
    justify-content: center;
}

.mobile-friendly {
    grid-area: mobile;
}

.global-community {
    grid-area: global;
}

.exclusive-interviews {
    grid-area: interviews;
}

.rich-resources {
    grid-area: rich;
}

.interviwImg i {
    font-size: 3rem;
    color: #d30d97;
}

.choose-container {
    height: 50%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas:
        "audio      mobile     mobile"
        "audio      global     global"
        "interviews interviews rich";
    margin-bottom: 120px;
}


/* featured-host st here  */
#featured-host {
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 120px 0;
}

.featured-episodes,
.meet-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-heading {
    font-size: 3rem;
    color: #FFFFFF;
}

.featured-video-container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 75%;
    margin-top: 40px;
}

.featured-videos {
    background-color: #250D44;
    border-radius: 25px;
    /* border: 1px solid red; */
    height: 540px;
}

.featured-video iframe {
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.featured-contant {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.featured-contant h1 {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.featured-contant p {
    font-size: var(--para-font-size);
    color: #ffffffab;
}

.featured-contant-timebox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.featured-contant-timebox p {
    font-size: var(--para-font-size);
    color: #00FF88;
}

.meet-container {
    background-color: #250D44;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 75%;

}

.meet-container {
    padding: 40px;
    margin-top: 40px;
}

.meetImg img {
    width: 200px;
}

.meetContant {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meetContant h1 {
    font-size: 2rem;
    color: #FFFFFF;
}

.meetContant p {
    font-size: var(--para-font-size);
    color: #ffffff91;
    line-height: 24px;
}

.meet-infus {
    display: flex;
    align-items: center;
    gap: 8px
}

.meet-infus a {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid #8f8f8f94;
    border-radius: 50%;
}

/* footer st here  */
footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 412px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

footer h1 {
    margin-top: 100px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 3.87rem;
}

footer h1 span {
    color: #9100F8;
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-info-item {
    display: flex;
    align-items: center;
}

.footer-info-item img {
    width: 24px;
    margin-right: 8px;
}

.footer-info-item p {
    font-weight: 500px;
    font-size: var(--para-font-size);
    color: #FFFFFF;
}

.copyright {
    font-size: var(--para-font-size);
    line-height: 24px;
    color: #fafafa96;
}

.hide {
    display: none;
}

#hamburger {
    padding: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

#hamburger:hover {
    background-color: #351165;
}

@keyframes downToUp {
    0% {
        transform: translateY(15px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@media screen and (max-width:576px) {
    :root {
        --para-font-size: 1rem;
        --para-font-width: 1rem;
    }
    .featured-video-container,
    .meet-container{
        flex-direction: column;
    }
    nav ul,
    .nevbtn {
        display: none;
    }
    .hide {
        display: block;
    }
    nav {
        justify-content: space-between;
        gap: 0px;
    }
    .hero {
        background-size: cover;
        background-position: top center;
    }
    .hero-container {
        margin-top: 200px;
        width: 400px;
        text-align: center;
    }
    .hero-mic-img-bg {
        height: 200px;
        width: 200px;
    }
    .hero-mic-img-bg img {
        width: 80px;
    }
    .new {
        top: 5px;
        right: 5px;
    }
    .about-container,
    .about-container hr {
        width: 400px;
    }
    .about-container h1 {
        font-size: 32px;
    }
    .about-container p {
        line-height: 20px;
    }
    .about-container p,
    .about-container hr {
        margin-bottom: 40px;
    }
    .rating-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
    }
    #choose-header {
        text-align: center;
        margin-top: 40px;
        font-size: 32px;
    }
    .choose-container {
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "audio"
            "mobile"
            "global"
            "interviews"
            "rich";
        margin-bottom: 40px;
    }
    #featured-host{
        padding: 40px 0;
    }
    .featured-video-container{
        gap: 16px;
    }
    #featured-host{
        gap: 60px;
    }
    .meetContant{
        align-items: center;
        text-align: center;
    }
}